.Catalogs-color {
    color: white;
    width: 100vw;
    height: fit-content;
    display: flex;
    position: relative;
    background-color: black;

}

.Catalogs {
    width: 100%;
    height: fit-content;
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.Catalogs-name {
    position: relative;
    text-align: center;

}

.Catalogs-name h1 {
    font-size: 2.8rem;
}

.Catalogs-name h2 {
    width: 100%;
    position: relative;
    font-size: 1rem;
    bottom: 0.5rem;
    color: #d1d5dc;
}

/* -------------------------------------------------- */

.brand-choice {

    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    height: 10rem;

}

.brand {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    width: 41.2rem;
    height: 4rem;
    border-radius: 0.5rem;
    border: 1px solid #97989b;
    background-color: white;
    gap: 2.5rem;
}

.brand button {
    color: white;
    background-color: black;
    border-radius: 0.5rem;
    width: 6rem;
    height: 3rem;
}

/* ------------------------------------------------------ */

.car-ads {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem 3rem;
    width: 100%;
    height: 100%;
}

.car-cards {

    width: 25rem;
    height: 37.5rem;
    overflow: visible;
}

.car-cards-button {
    background-image: url(../../../public/bugatti.png);
    width: 25rem;
    height: 15.6rem;
}

.ferrari {
    background-image: url(../../../public/ferrari.png);
}

.maclaren {
    background-image: url(../../../public/maclaren.png);
}

.bugatti {
    background-image: url(../../../public/Bugatti-Chiron.png);
}

.pagani {
    background-image: url(../../../public/pagani.png);
}

.ferrari-f40 {
    background-image: url(../../../public/ferrari-f40.png);
}

.car-cards-button-object {

    display: flex;
    position: relative;
    gap: 1rem;
    top: 0.6rem;
}

.car-cards-button button {
    color: white;
    position: relative;
    background-color: black;
    display: flex;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    left: 19rem;
}

.car-cards-top {
    display: flex;
    justify-content: center;
    color: white;
    background-color: white;
    border-radius: 0 0 1rem 1rem;
    flex: 1 1 300px;
    width: 25rem;
    height: 22rem;
}

.top-cards-for-cars-meaning {
    width: 22.1rem;
}

.top-cards-for-cars-meaning h1 {
    font-size: 1.7rem;
    color: black;
}

.cross-section-line {
    width: 100%;
    height: 2px;
    background-color: #97989b;
    border-radius: 1rem;
}

.machine-characteristics {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    width: 100%;
    height: 2rem;
    gap: 1.4rem;
    color: black;
    top: 0.5rem;
}

.characteristic {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    gap: 0.2rem;
}

.car-descriptions {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 4rem;
    top: 1.5rem;

}

.options-description {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
}

.descriptions {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 0.5rem;
    border: 1px solid #97989b;
    width: fit-content;
    padding: 0.3rem;

    height: 1.6rem;

}


.moredetails-contact {

    width: 100%;
    position: relative;
    top: 4rem;
    height: 2.6rem;
}

.options-moredetails-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 3rem;
    width: 100%;
    height: 2.6rem;
}

.options-moredetails-contact button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.6rem;
    width: 9.5rem;
    border-radius: 0.5rem;
    position: relative;
    font-size: 1.2rem;
    font-weight: 600;

}

.moredetails {
    border: none;
    background-color: black;
    color: white;
}

.get-in-touch {
    background-color: white;
    border: 1px solid black;
}