.Registration-card {
    position: relative;
    top: 9rem;
    width: 65rem;
    height: 40rem;
    place-self: center;
    overflow: hidden;

    border-radius: 1rem;
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);

}

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: white;
}

.registration-input {
    width: 50%;
    border-radius: 1rem 0 0 1rem;
}

.img-car {
    width: 50%;
    border-radius: 0 1rem 1rem 0;

}

.card-button {
    position: relative;
    width: 6.5rem;
    height: 1.6rem;
    border-radius: 1rem;
    font-size: 1rem;
    border: 2px solid black;
    background-color: white;

    left: 12rem;
    z-index: 1000;
}

.img-card {
    width: 100%;
    height: 100%;
}

.img-card img {
    object-fit: cover;
    width: 100%;
    height: 100%
}

.card h3 {
    width: fit-content;
    font-size: 0.68rem;
    position: relative;
    left: 3rem;
    top: 1rem;
}


.footer-socialsRegistrationCard {
    display: flex;
    gap: 1rem;
}

.footer-socialsRegistrationCard a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a1a1a;
    color: #ffffff;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid white;
    left: 3rem;
    position: relative;
    text-decoration: none;
    top: 1rem;
}