.Entry {
    width: 80%;
    height: 70%;
    padding: 2rem 3rem 1rem 3rem;
}

.login {
    display: flex;

}

.loginForm {
    display: flex;
    flex-direction: column;
    padding: 6.3rem 0 0 0;
    gap: 3rem;
}

.loginForm input {
    width: 20rem;
    height: 2rem;
    border: none;
    outline: none;
    padding: 5px;
    border-bottom: 2px solid black;
}

.loginForm button {
    width: 7rem;
    height: 2.5rem;
    background-color: black;
    border: none;
    border-radius: 1rem;
    color: white;
    font-size: 1.1rem;
}

.createAnAccount {
    height: 4rem;
}

.createAnAccount h2 {
    width: fit-content;
    position: relative;
    font-size: 0.7rem;
    display: flex;
    left: 5rem;
    top: 2rem;
}

.password span {
    position: relative;
    top: 0.4rem;
}

.error-messag {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 2.5rem;
    bottom: 1rem;
}