.Registration {
    width: 80%;
    height: 63%;
    padding: 2rem 3rem 1rem 3rem;
}

.registering {
    display: flex;

}

.registeringForm {
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
}

.registeringForm input {
    width: 20rem;
    height: 2rem;
    border: none;
    outline: none;
    padding: 5px;
    border-bottom: 2px solid black;
}

.registeringForm button {
    width: 10rem;
    height: 2.5rem;
    background-color: black;
    border: none;
    border-radius: 1rem;
    color: white;
    font-size: 1.1rem;
}

.createAnAccount {
    height: 4rem;
}

.createAnAccount h2 {
    width: fit-content;
    position: relative;
    font-size: 0.7rem;
    display: flex;
    left: 5rem;
    top: 2rem;
}