.Unfavorite {
    display: block;
    width: 69.5rem;
    right: 0;
    height: fit-content;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}


.unfavorite-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 10rem;
    width: 100%;
    height: 100%;
}

.unfavorite-car-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem 3rem;

}

.wer {
    height: 37.5rem;
    display: block;
    overflow: visible;
    gap: 3rem 3rem;

}

.unfavorite-car-card-2 {
    display: flex;
    width: 97vw;
    right: 25rem;
    height: fit-content;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem 3rem;
    padding: 3rem 0;

}


.footer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: relative;
    right: 25rem;
    top: 10rem;
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 40px;
}

.pagination-number {
    width: 3rem;
    height: 3rem;
    border: 2px solid #ffffff;
    background-color: white;
    color: #000000;
    font-size: 18px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.pagination-number:hover {
    border-color: #ffffff;
    color: #000;
}

.pagination-number.active {
    background-color: #000;
    color: #fff;
    border-color: #ffffff;
    transform: scale(1.05);
}

.pagination-arrow {
    background: none;
    border: none;
    cursor: pointer;
    color: #000000;
    transition: color 0.3s;
    border: none;
}

.pagination-arrow:hover {
    color: #8d8d8d;
}


.pagination-arrow {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: white;
}

.pagination-number {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: white;
}

.footer-brand {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.pagination-dots {
    color: white;
    font-size: 2rem;
}

.footer-h2 {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 5rem;
    border-radius: 1rem;
}

.footer-brand h2 {
    border: 1px solid white;
    font-size: 3rem;
    display: flex;
    width: 20rem;
    height: 5rem;
    border-radius: 1rem;
}

.white {
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 10rem;
    height: 5rem;
    border-radius: 1rem 0 0 1rem;
}

.footer-h2 samp {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0 0 0 0.5rem;
}

.footer-brand p {

    color: white;
}

.footer-socials {
    display: flex;
    gap: 1rem;
}

.footer-socials a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a1a1a;
    color: #ffffff;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid white;
    left: 75rem;
    position: relative;
    text-decoration: none;
}

.footer-bottom-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 3rem 4rem 0 4rem;
    font-size: 0.9rem;
    color: #ffffff;
}

.footer-links {
    display: flex;
    gap: 2rem;
}

.footer-links a {
    color: #ffffff;
    text-decoration: none;
}

.footer-lines {
    height: 0.15rem;
    width: 85rem;
    border-radius: 1rem;
    background-color: white;
    top: 2rem;

    left: 3rem;
    position: relative;

}